body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#site-title{
  font-family: "Verdana", Times, serif;
  font-style: oblique;
  color: rgb(237, 108, 108)
}

.input-group-text{
  background-color: bisque;
  border-color: bisque;
}

.form-control{
  border-color: bisque;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  margin-left: 10px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.radio-btn {
  margin-right: 5px;
}
.btn-check:checked + .btn-outline-info{
  background-color: rgb(255, 65, 65);
}

.btn-ok {
  background-color:bisque;
}

.btn-outline-info{
  background-color: bisque;
  border-color: bisque;
  color: black;
}

.beer-minus-btn {
  margin-right: 10px;
}

.btn-minus {
  background-color: bisque;
}
.chart-canvas-container {
  padding-left: 100px;
  padding-right: 100px;
}

#monthly_bills_checklist_form_check_id {
  padding-left: 0px;
}